# Copyright (c) 2022 Alix Routhier-Lalonde. Licence included in root of package.

[MASTER]
init-hook='import sys; sys.path.append(".")'

[TYPECHECK]

# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members=numpy.*, torch.*
disable=E0401
